<link rel="shortcut icon" href="/ext/tierra/wxstyle/styles/all/theme/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ext/tierra/wxstyle/styles/all/theme/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ext/tierra/wxstyle/styles/all/theme/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ext/tierra/wxstyle/styles/all/theme/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/ext/tierra/wxstyle/styles/all/theme/ico/apple-touch-icon-57-precomposed.png">

<!-- INCLUDECSS @tierra_wxstyle/wxstyle.css -->
